*{
    margin:0;
    padding:0;
    font-family: Verdana, Tahoma, sans-serif;
    
}


body {
    background-image: linear-gradient(45deg, rgb(93, 244, 255), rgb(0, 255, 13));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.body1{
    background-image: linear-gradient(45deg, rgb(93, 244, 255), rgb(0, 255, 13));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1600px;
}


.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    
}

.card{
    background-color: #ffffff70;
    padding: 30px;
    border-radius:4%;
    box-shadow: 3px, 3px, 1px, 0px, #00000070;
    width: 1500px;
    height: 650px;
    align-items: center;
    
}



.card1{
    background-color: #ffffff70;
    padding: 30px;
    border-radius:2%;
    box-shadow: 3px, 3px, 1px, 0px, #00000070;
    width: 1500px;
    height: 1470px;
    align-items: center;
    

}


h1{
    text-align: center;
    margin-bottom: 20px;
    color:rgb(39, 189, 151)
}

.h2p2{
    position: relative;
    left: 400px;
    color: blue;
    border-radius: 10px;
}

a{
    position: relative;
    text-align: center;
    left : 450px;
    color: rgb(43, 100, 146);
    padding-left: 50px;
}

a:hover{
    color:#afac00
}

.f2{
    position: relative;
    width: 600px;
    height: 400px;
    left : 450px;
}

.h21{
    position: relative;
    text-align: center;
    left : 10px;
    color: rgb(72, 58, 197);
    padding-left: 50px;
}

.f1{
    background-color: rgb(137,255,150);
    width: 90px;
    height: 50px;
    transition:all .4s ease-out;
    border-radius:4px;
}

.img1{
    position: relative;
    left: 30px;
    width: 290px;
    height: 200px;
    border: none;
    box-shadow: 10p 50px 5px rgb(0, 0, 0, 0);
    border-radius: 10px;
}

.img2{
    position: relative;
    left: 270px;
    width: 290px;
    height: 200px;
    border: none;
    box-shadow: 10p 50px 5px rgb(0, 0, 0, 0);
    border-radius: 10px;
   
}

.img3{
    position: relative;
    left: 470px;
    width: 290px;
    height: 200px;
    border: none;
    box-shadow: 10p 50px 5px rgb(0, 0, 0, 0);
    border-radius: 10px;
 
}

.h2p1{
    color: rgb(255, 0, 0);
    text-shadow: 9px 10px 5px black;
    position: relative;
    left: 400px;
}

.h2p3{
    background: SandyBrown;
    color: #F0E68C;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    text-align: middle;
    transform: rotate(0deg);
    margin-top: 5px;
    margin-left: 50px;
}

.h2p4{
    background: SandyBrown;
    color: #F0E68C;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 190px;
    height: 50px;
    text-align: middle;
    transform: rotate(0deg);
    margin-top: -60px;
    margin-left: 600px;
}

.h2p5{
    background: SandyBrown;
    color: #F0E68C;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    text-align: middle;
    transform: rotate(0deg);
    margin-top: -57px;
    margin-left: 1100px;
}


